<div class="welcome-text">
    <div class="vertical-center">
        <h2> Bienvenido a DDrop {{name}} </h2>
        <p> Para subir tus archivos de forma simple a drive, puedes hacer LogIn a través de Google. </p>
        <hr>
        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="$ {button.text}"
            data-size="large"
            data-logo_alignment="left"
            data-width="400">
         </div>

        <p> {{message}} </p>
    </div>  
</div>
   
