.caja-center {
    height: auto;

}

.purple-line-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0) !important;
    bottom:-24px;
    border-top: 1px solid var(--purple);
    border-radius: 0 0 20px 20px;
    color: white;
    transition: background-color .3s ease-in;
    border-top: background-color .3s ease-in;
        &:hover{
            border-top: 1px solid var(--dark-purple);
            background-color: var(--dark-purple) !important;
        }
}

.drop-box {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--purple);
    position: relative;
}
    
.fileupload {
    height: 300px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
.vertical-center {
    position: absolute;              
    top: 50%;                         
    transform: translate(0, -50%); 
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

h1 {
    margin: auto 20px !important;
    position: relative;
}



@media (min-width: 1400px) {
    .drop-box {
        height: 400px;
    }
    .fileupload {
        height: 400px;
    }
}
 
small.file-type {
    position: absolute;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.5);
    bottom : 26px;
    left:50%;
    transform:translate(-50%);
}