.alert-container {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    padding: 40px;
    position: relative;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.purple,
.nav-pills .nav-link.active {
    background-color: var(--purple);
    color: white;
    transition: 0.3s ease-in;
}

button.purple {
    margin-top: 20px;

}

@media (min-width: 1400px) {
    .alert-container {
        height: 400px;
    }
}