@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

// variables 
:root  {
    --darkBlue: rgb(7, 5, 38);
    --black: rgb(0, 0, 0);
    --white: white;
    --purple: rgb(142, 42, 84);
    --dark-purple: rgb(95, 27, 56);
}


// styles
body {
    font-family: 'Montserrat' !important;
    color: var(--white) !important;
}

h1, h2{
    margin-bottom: 40px;
}

.purple-text {
    color:var(--dark-purple) !important;
}


@media (min-width: 2000px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 2000px !important;
    }
}

.btn-check:focus, .btn:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}



.nav-link:hover, .nav-link:focus {
    color: var(--darkBlue) !important;
}

.alert {
    font-size: 12px;
}

button {
    transition: transform 0.2s;
    &:active {
        transform: translateY(3px);
    }
    &.purple {
        margin-top: 60px ;
    }
}

.btn:hover{
    background-color: var(--dark-purple) !important;
}

.purple,
.nav-pills .nav-link.active {
    background-color: var(--purple);
    color: white;
    transition: 0.3s ease-in;
}

.margin-right-button {
    margin-right: 10px;
    margin-left: -10px;
}